<div>
  <p>
    <a [routerLink]="['/app/home/home']">APP 1</a>
  </p>
  <p>
    <a [routerLink]="['/app/app1/home']">APP 2</a>
  </p>
</div>

<table>
  <thead>
  <tr>
    <th>Name</th>
    <th>Age</th>
    <th>Height</th>
    <th>Location</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Kevin Durant</td>
    <td>27</td>
    <td>2.06</td>
    <td> Washington, DC</td>
  </tr>
  <tr>
    <td>Stephen Curry</td>
    <td>27</td>
    <td>1,91</td>
    <td>Akron, OH</td>
  </tr>
  <tr>
    <td>Klay Thompson</td>
    <td>25</td>
    <td>2,01</td>
    <td>Los Angeles, CA</td>
  </tr>
  <tr>
    <td>Draymond Green</td>
    <td>26</td>
    <td>2,01</td>
    <td>Saginaw, MI</td>
  </tr>
  <tr>
    <td>Andre Iguodala</td>
    <td>32</td>
    <td>1,98</td>
    <td>Springfield, IL</td>
  </tr>
  <tr>
    <td>Anderson Varejão</td>
    <td>33</td>
    <td>2,08</td>
    <td>Colatina, ES</td>
  </tr>
  <tr>
    <td>Shaun Livingston</td>
    <td>30</td>
    <td>2,01</td>
    <td>Peoria, CA</td>
  </tr>
  </tbody>
</table>
