:host {
  padding: 0 0 !important;
  height: 100% !important;
}

.nav-bar {
  width: 10%;
  padding-top: 2em;
  float: left;
  height: 100%;
  background-color: #333;
}

.app {
  width: 90%;
  float: right;
  height: 100%;
}
