:host {
  height: 100%;
}

a {
  padding: 1em;
  line-height: 2em;
}

p {
  margin-bottom: 0;
}

span {
  color: #fff;
  padding-left: 1.5em;
  font-size: 0.66em;
  padding-top: 3em;
  padding-bottom: 3em;
}
