<div class="container">
  <form>
    <fieldset>
      <legend>Legend</legend>
      <div class="row">
        <div class="column">
          <label for="textField">Text field</label>
          <input type="text" placeholder="Text field" id="textField">
          <label for="emailField">Email field</label>
          <input type="email" id="emailField" placeholder="Email field">
          <label for="numberField">Number field</label>
          <input type="number" id="numberField" placeholder="Number field">
          <label for="passwordField">Password field</label>
          <input type="password" id="passwordField" placeholder="Password field">
          <label for="selectField">Select field</label>
          <select id="selectField">
            <option value="selectField1">Select field 1</option>
            <option value="selectField2">Select field 2</option>
            <option value="selectField3">Select field 3</option>
            <option value="selectField4">Select field 4</option>
          </select>
          <label for="searchField">Search field</label>
          <input type="search" id="searchField" placeholder="Search field">
        </div>
        <div class="column">
          <label for="telField">Tel field</label>
          <input type="tel" id="telField" placeholder="Tel field">
          <label for="urlField">URL field</label>
          <input type="url" id="urlField" placeholder="URL field">
          <label for="radioField">Radio field</label>
          <div class="row">
            <div class="column">
              <input type="radio" id="radioField1" name="radioField">
              <label class="label-inline" for="radioField1">Radio field 1</label>
            </div>
            <div class="column">
              <input type="radio" id="radioField2" name="radioField">
              <label class="label-inline" for="radioField2">Radio field 2</label>
            </div>
          </div>
          <label for="radioField">Checkbox field</label>
          <div class="row">
            <div class="column">
              <input type="checkbox" id="checkboxField1">
              <label class="label-inline" for="checkboxField1">Checkbox field 1</label>
            </div>
            <div class="column">
              <input type="checkbox" id="checkboxField2">
              <label class="label-inline" for="checkboxField2">Checkbox field 2</label>
            </div>
          </div>
          <label for="textareaField">Textarea field</label>
          <textarea placeholder="Textarea field" id="textareaField"></textarea>
          <input type="submit">
          <input type="reset" class="button-clear">
        </div>
      </div>
    </fieldset>
  </form>
</div>
