<div class="container">
  <div class="row">
    <div class="column">
      <input class="button" type="reset" value="Default Button">
      <input class="button button-outline" type="reset" value="Outlined Button">
      <input class="button button-clear" type="reset" value="Clear Button">
      <input class="button" disabled="" type="reset" value="Default Button">
      <input class="button button-outline" disabled="" type="reset" value="Outlined Button">
      <input class="button button-clear" disabled="" type="reset" value="Clear Button">
    </div>
    <div class="column">
      <input class="button" type="button" value="Default Button">
      <input class="button button-outline" type="button" value="Outlined Button">
      <input class="button button-clear" type="button" value="Clear Button">
      <input class="button" disabled="" type="button" value="Default Button">
      <input class="button button-outline" disabled="" type="button" value="Outlined Button">
      <input class="button button-clear" disabled="" type="button" value="Clear Button">
    </div>
    <div class="column">
      <div class="button">Default Button</div>
      <div class="button button-outline">Outlined Button</div>
      <div class="button button-clear">Clear Button</div>
      <div class="button" disabled="">Default Button</div>
      <div class="button button-outline" disabled="">Outlined Button</div>
      <div class="button button-clear" disabled="">Clear Button</div>
    </div>
  </div>

</div>
