<div class="container">
  <ul>
    <li><a href="//jiadian.jd.com">家用电器</a></li>
    <li><a href="//shouji.jd.com/">手机</a> / <a href="//wt.jd.com">运营商</a> / <a href="//shuma.jd.com/">数码</a></li>
    <li><a href="//diannao.jd.com/">电脑</a> / <a href="//bg.jd.com">办公</a></li>
    <li><a href="//channel.jd.com/home.html">家居</a> / <a href="//channel.jd.com/furniture.html">家具</a> / <a href="//channel.jd.com/decoration.html">家装</a> / <a href="//channel.jd.com/kitchenware.html">厨具</a></li>
    <li><a href="//channel.jd.com/1315-1342.html">男装</a> / <a href="//channel.jd.com/1315-1343.html">女装</a> / <a href="//channel.jd.com/children.html">童装</a> / <a href="//channel.jd.com/1315-1345.html">内衣</a></li>
    <li><a href="//channel.jd.com/beauty.html">美妆个护</a> / <a href="//channel.jd.com/pet.html">宠物</a></li>
    <li><a href="//channel.jd.com/womensshoes.html">女鞋</a> / <a href="//channel.jd.com/bag.html">箱包</a> / <a href="//channel.jd.com/watch.html">钟表</a> / <a href="//channel.jd.com/jewellery.html">珠宝</a></li>
    <li><a href="//channel.jd.com/mensshoes.html">男鞋</a> / <a href="//channel.jd.com/yundongcheng.html">运动</a> / <a href="//channel.jd.com/outdoor.html">户外</a></li>
    <li><a href="//realestate.jd.com/">房产</a> / <a href="//car.jd.com/">汽车</a> / <a href="//che.jd.com/">汽车用品</a></li>
    <li><a href="//baby.jd.com">母婴</a> / <a href="//toy.jd.com/">玩具乐器</a></li>
    <li><a href="//channel.jd.com/food.html">食品</a> / <a href="//jiu.jd.com">酒类</a> / <a href="//fresh.jd.com">生鲜</a> / <a href="//china.jd.com">特产</a></li>
    <li><a href="//art.jd.com">艺术</a> / <a href="//channel.jd.com/1672-2599.html">礼品鲜花</a> / <a href="//nong.jd.com">农资绿植</a></li>
    <li><a href="//health.jd.com">医药保健</a> / <a href="//channel.jd.com/9192-9196.html">计生情趣</a></li>
    <li><a href="//book.jd.com/">图书</a> / <a href="//mvd.jd.com/">音像</a> / <a href="//e.jd.com/ebook.html">电子书</a></li>
    <li><a href="//jipiao.jd.com/">机票</a> / <a href="//hotel.jd.com/">酒店</a> / <a href="//trip.jd.com/">旅游</a> / <a href="//ish.jd.com/">生活</a></li>
    <li><a href="//licai.jd.com/">理财</a> / <a href="//z.jd.com/">众筹</a> / <a href="//baitiao.jd.com">白条</a> / <a href="//bao.jd.com/">保险</a></li>
  </ul>

</div>
